<header class="header-container decor">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img
        src="icones\logo-musee.png"
        class="logo img-fluid"
        alt="Logo-du-musee"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="list collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav text-uppercase w-100 d-flex justify-content-between fw-bold"
        >
          <li class="nav-item">
            <a class="nav-link highlight-effect" [routerLink]="['']">accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link highlight-effect" [routerLink]="['presentation']"
              >présentation</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link highlight-effect" [routerLink]="['billetterie']"
              >billeterie</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link highlight-effect" [routerLink]="['']"
              >vos billets</a
            >
          </li>

          <li class="nav-item connex-inscrip">
            @if (connected$ | async; as connected) {
              <button class="nav-link highlight-effect" (click)="auth.logout()">
                se déconnecter
              </button>
            } @else {
              <a class="nav-link highlight-effect" [routerLink]="['auth']"
                >connexion / inscription</a
              >
            }
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
