.header-container {
  height: 30%;
  background-color: #b9721a;
}

.decor {
  background: linear-gradient(
    135deg,
    #b9721a 54%,
    #fcfbfb,
    #000,
    #f1d6aa,
    #b9721a 64%
  );
}

.logo {
  height: auto;
  width: 10%;
}

a {
  color: #f1d6aa;
}

.navbar-nav {
  background: linear-gradient(
    135deg,
    #b9721a 47.5%,
    #fcfbfb,
    #000,
    #f1d6aa,
    #b9721a 58.5%
  );
}
.highlight-effect:hover {
  background-image: linear-gradient(
    135deg,
    #ffd700,
    #ffe44c,
    #ffef94,
    #000000,
    #fff
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing 10ms ease-in-out infinite;
}
@keyframes glowing {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 560px) {
  .logo {
    width: 15%;
    height: auto;
  }
}

/* Menu burger */
.navbar-toggler {
  z-index: 11; /* Toujours au-dessus du contenu */
}

/* Menu burger déroulant */
#navbarNav {
  position: absolute; /* Positionnement pour superposition */
  top: 100%; /* Juste sous le header */
  left: 0;
  right: 0;
  background-color: #b9721a; /* Couleur de fond */
  z-index: 10;
  box-shadow: 0 4px 6px rgba(203, 19, 19, 0.1); /* Ombre pour un meilleur visuel */
  display: none; /* Masquer par défaut */
}

/* Afficher le menu burger actif */
#navbarNav.collapse.show {
  display: block;
}
