.card {
  margin-bottom: 20px;
}

.card-header {
  font-weight: bold;
}

.btn {
  margin-top: 10px;
}

.fas.fa-pencil-alt {
  font-size: 1.5rem;
  color: #ffc107; /* Couleur du stylo */
}

.fas.fa-pencil-alt:hover {
  color: #e0a800; /* Couleur du stylo au survol */
}
