<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header text-warning">Modifier mes infos</div>
        <div class="card-body">
          <h5 class="card-title">
            Bienvenue dans votre espace, {{ user?.firstname }}
            {{ user?.lastname }}
          </h5>
          <p class="card-text">Vous pouvez modifier votre mot de passe ici.</p>
          <form (submit)="onChangePassword(); $event.preventDefault()">
            <div class="form-group mb-3">
              <label for="currentPassword">Mot de passe actuel</label>
              <input
                type="password"
                class="form-control"
                id="currentPassword"
                placeholder="Entrez votre mot de passe actuel"
                [(ngModel)]="currentPassword"
                name="currentPassword"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="newPassword">Nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                placeholder="Entrez votre nouveau mot de passe"
                [(ngModel)]="newPassword"
                name="newPassword"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="confirmPassword"
                >Confirmez le nouveau mot de passe</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirmez votre nouveau mot de passe"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
              />
            </div>

            <button type="submit" class="btn btn-warning mt-2">
              Changer le mot de passe
            </button>
          </form>
          <!-- Affichage du message de retour -->
          <!-- Affichage du message de retour -->
          @if (message) {
            <div
              class="alert mt-3"
              [ngClass]="{
                'alert-success': message.includes('succès'),
                'alert-danger':
                  message.includes('Erreur') ||
                  message.includes('ne correspondent pas'),
              }"
            >
              {{ message }}
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header text-warning">Mes billets</div>
        <div class="card-body">
          <h5 class="card-title">Visualiser ou générer vos billets</h5>
          <p class="card-text">
            Vous pouvez visualiser vos billets ou les générer en PDF pour les
            imprimer.
          </p>
          <app-button name="Visualiser les billets"></app-button>
          <app-button name="Générer en PDF"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
