<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header text-warning">Modifier mes infos</div>
        <div class="card-body">
          <h5 class="card-title">Bienvenue dans votre espace</h5>
          <p class="card-text">Vous pouvez modifier votre mot de passe ici.</p>
          <form>
            <div class="form-group">
              <label for="motDePasse">Nouveau mot de passe</label>
              <input
                type="password"
                class="form-control"
                id="motDePasse"
                placeholder="Entrez votre nouveau mot de passe"
              />
            </div>
            <i
              class="fas fa-pencil-alt"
              style="cursor: pointer"
              title="Modifier"
            ></i>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-header text-warning">Mes billets</div>
        <div class="card-body">
          <h5 class="card-title">Visualiser ou générer vos billets</h5>
          <p class="card-text">
            Vous pouvez visualiser vos billets ou les générer en PDF pour les
            imprimer.
          </p>
          <app-button name="Visualiser les billets"></app-button>
          <app-button name="Générer en PDF"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
