<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nom">Nom</label>
    <br />
    <input id="nom" formControlName="nom" type="text" />
  </div>
  <div>
    <label for="prenom">Prénom</label>
    <br />
    <input id="prenom" formControlName="prenom" type="text" />
  </div>
  <div>
    <label for="register-email">E-mail</label>
    <input id="register-email" formControlName="email" type="email" />
  </div>
  <div>
    <label for="birthday">Date de naissance</label>
    <input id="birthday" formControlName="birthday" type="date" />
  </div>
  <div>
    <label for="register-motDePasse">Mot de passe</label>
    <input
      id="register-motDePasse"
      formControlName="motDePasse"
      type="password"
    />
  </div>
  <div>
    <label for="motDePasse">Confirmer mot de passe</label>
    <br />
    <input id="motDePasse" formControlName="motDePasse" type="password" />
  </div>
  <app-button></app-button>
</form>
