<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="lastname">Nom</label>
    <input id="lastname" formControlName="lastname" type="text" />
  </div>
  <div class="form-group">
    <label for="firstname">Prénom</label>
    <input id="firstname" formControlName="firstname" type="text" />
  </div>
  <div class="form-group">
    <label for="register-email">E-mail</label>
    <input id="register-email" formControlName="email" type="email" />
  </div>
  <div class="form-group">
    <label for="birthday">Date de naissance</label>
    <input id="birthday" formControlName="birthday" type="date" />
  </div>
  <div class="form-group">
    <label for="register-password">Mot de passe</label>
    <input id="register-password" formControlName="password" type="password" />
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirmer mot de passe</label>
    <input
      id="confirm-motDePasse"
      formControlName="confirmPassword"
      type="password"
    />
  </div>
  <div class="form-group">
    <app-button (buttonCliked)="onSubmit()" name="Inscription" />
  </div>
</form>
