<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input id="nom" formControlName="nom" type="text" />
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input id="prenom" formControlName="prenom" type="text" />
  </div>
  <div class="form-group">
    <label for="register-email">E-mail</label>
    <input id="register-email" formControlName="email" type="email" />
  </div>
  <div class="form-group">
    <label for="birthday">Date de naissance</label>
    <input id="birthday" formControlName="birthday" type="date" />
  </div>
  <div class="form-group">
    <label for="register-motDePasse">Mot de passe</label>
    <input
      id="register-motDePasse"
      formControlName="motDePasse"
      type="password"
    />
  </div>
  <div class="form-group">
    <label for="confirm-motDePasse">Confirmer mot de passe</label>
    <input
      id="confirm-motDePasse"
      formControlName="confirmMotDePasse"
      type="password"
    />
  </div>
  <div class="form-group">
    <app-button></app-button>
  </div>
</form>
