label {
  margin-bottom: 5px;
  color: white;
}

.label {
  margin: auto;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inscription-button {
  width: 30%;
  padding: 10px;
  gap: 10px;

  border: none;
  border-radius: 10px;

  background-color: #f1d6aa;
  color: #6e4b13;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.3s;
}

button:hover {
  background-color: #b9721a;
}
