<footer class="footer bg-dark text-light py-3">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Web-museum
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          liens utiles
        </h5>
        <ul class="list-inline">
          <li>conditions generales de vente</li>
          <li>FAQ</li>
          <li>Mentions légales</li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Nous contacter
        </h5>
        <ul class="list-inline">
          <li>
            <p><i class="fas fa-home mr-3"></i>rue de la paix, 75001 Paris</p>
          </li>
          <li>email : contact&#64;web-museum.fr</li>
          <li>Telephone : 01.23.45.67.89</li>
        </ul>
      </div>

      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p>
            © 2025 Musée de la Ville. Tous droits réservés.<br />
            Conception et développement par Web Museum.
            <a href="#" class="text-warning" style="text-decoration: none"
              >Web-museum</a
            >
          </p>
        </div>

        <!--reseaux sociaux-->
        <div class="col-md-5 col-lg-4">
          <div class="text-center text-md-right">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-white">
                  <i class="fab fa-facebook-f"></i>facebook
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white">
                  <i class="fab fa-twitter"></i>twitter
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white">
                  <i class="fab fa-google-plus-g"></i>google+
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-white">
                  <i class="fab fa-linkedin-in"></i>linkedin
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
