<footer class="footer bg-dark text-light py-3">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <!-- Colonne pour les horaires -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Web-museum
        </h5>
        <app-schedules />
      </div>

      <!-- Colonne pour les liens utiles et le copyright -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Liens utiles
        </h5>
        <ul class="list-unstyled">
          <li>Conditions générales de vente</li>
          <li>FAQ</li>
          <li>Mentions légales</li>
        </ul>
        <p class="mt-4">
          © 2025 Musée de la Ville. Tous droits réservés.<br />
          Conception et développement par Web Museum.
          <a href="#" class="text-warning" style="text-decoration: none"
            >Web-museum</a
          >
        </p>
      </div>

      <!-- Colonne pour les informations de contact et les réseaux sociaux -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Nous contacter
        </h5>
        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-home mr-3"></i>Rue de la paix, 75001 Paris</p>
          </li>
          <li>Email : contact&#64;web-museum.fr</li>
          <li>Téléphone : 01.23.45.67.89</li>
        </ul>
        <div class="text-center text-md-right mt-3">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white">
                <i class="fab fa-facebook-f"></i> Facebook
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">
                <i class="fab fa-twitter"></i> Twitter
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">
                <i class="fab fa-google-plus-g"></i> Google+
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">
                <i class="fab fa-linkedin-in"></i> LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
