<section>
  <h1 class="text-uppercase display-1 text-center fw-bold">billetterie</h1>
  <div class="d-flex justify-content-center">
    <div class="bandeau">
      <h2 class="h2 text-center text-uppercase display-2 fw-bold">
        composez votre commande
      </h2>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="compo-commande d-flex justify-content-center">
      <div class="div-tarifs">
        <h5 class="h5 text-center text-uppercase fw-bold">tarifs</h5>
        @for (price of listPrice; track price.id) {
          <app-checkin-ticket
            (onValueChanged)="updateListPrice($event.id, $event.count)"
            [ticketType]="price"
          />
        } @empty {
          <div>Nous n'avons pas de billet a vous proposer</div>
        }
        <div class="h5 text-center text-uppercase fw-bold">Prix total</div>
        <div class="h5 text-center text-uppercase fw-bold">
          {{ totalPrice }}€
        </div>
        <button (click)="test()">totaltest :</button>
      </div>

      <div class="liseret"></div>
      <div class="div-visite">
        <h5 class="h5 text-center text-uppercase fw-bold">visite guidée</h5>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="total">
      <app-button name="Je valide ma commande" variant="secondary" />
    </div>
  </div>
</section>
