<section class="d-flex justify-content-end">
  <div class="bandeau d-flex">
    <div class="liseret"></div>
    <img class="img-fluid div-photo d-flex" src="images/sceptre.png" alt="" />
    <div class="div-text">
      <p class="text text-white fs-5">{{ dataCard().object }}</p>
      <p class="text text-white fs-5">{{ dataCard().epoque }}</p>
      <p class="text text-white fs-5">
        @if (isEven()) {
          c'est paire
          <strong>Je suis fort</strong>
        } @else {
          c'est inpaire
          <strong>Je suis faible</strong>
        }
      </p>
    </div>
  </div>
</section>
