section {
  margin-top: 8%;
  width: 100vw;
  height: 50vh;
}

.bandeau {
  background-color: #1e1e1e;
  width: 48%;
  height: 60%;
}

.div-photo {
  height: 92%;
  width: 50%;
  margin-top: 1.5%;
  margin-left: 1%;
  border-radius: 5px;
}

.liseret {
  height: 80%;
  width: 0.2%;
  background-color: #f1d6aa;
  margin-top: 1%;
}

.right {
  width: 50%;
}

.div-text {
  height: 90%;
  width: 50%;
  padding-left: 5%;
}

.text {
  text-align: center;
  padding-top: 8%;
}
