<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login-email">E-mail</label>
    <input id="login-email" formControlName="email" type="email" />
  </div>
  <div class="form-group">
    <label for="login-motDePasse">Mot de passe</label>
    <input id="login-motDePasse" formControlName="password" type="password" />
  </div>
  <app-button (buttonCliked)="onSubmit()" name="Connexion" />
</form>
<button (click)="onLogout()">Logout</button>
<button (click)="onTest()">test</button>
<div>
  @if (connected$ | async; as connected) {
    <p>L'utilisateur est connecté</p>
  } @else {
    <p>L'utilisateur est déconnecté</p>
  }
</div>
