<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
  <div>
    <strong>E-mail saisi :</strong> {{ connexionForm.get("email")?.value }}
  </div>
  <div>
    <strong>Mot de passe saisi :</strong>
    {{ connexionForm.get("motDePasse")?.value }}
  </div>
  <div>
    <label for="login-email">E-mail</label>
    <input id="login-email" formControlName="email" type="email" />
  </div>
  <div>
    <label for="login-motDePasse">Mot de passe</label>
    <input id="login-motDePasse" formControlName="motDePasse" type="password" />
  </div>
  <app-button></app-button>
</form>
