<section>
  <h1 class="h1 fw-bold text-uppercase text-center">
    validation de votre paiement
  </h1>
  <div class="div-contenu d-flex justify-content-center">
    <div class="recap d-flex justify-content-center flex-wrap">
      <h2 class="text-center">Récapitulatif de commande</h2>
      <div class="ticket bg-white">
        <div class="infos d-flex text-center justify-content-between">
          <p>
            <strong>Exposition Sélectionnée:</strong>
            {{ detailCommand[0] && detailCommand[0].expo.name }}
          </p>
        </div>
        <div *ngFor="let ticket of detailCommand">
          <div class="infos d-flex text-center justify-content-between">
            <p>Price: {{ ticket.price }}</p>
            <p>count: {{ ticket.count }}</p>
          </div>
        </div>
        <div class="infos-vg-arr text-center d-flex justify-content-center">
          <p class="fw-bold text-uppercase fs-4">
            Total : {{ calculateTotal() | currency }}
          </p>
        </div>
      </div>
    </div>
    <div class="terminal">
      <div class="div-h2 d-flex justify-content-center">
        <h2 class="text-center">Paiement</h2>
      </div>
      <div class="d-flex justify-content-center">
        <form class="form d-flex justify-content-center flex-column" action="">
          <label for="n°_cb">N° de carte bancaire</label>
          <br />
          <input type="int" id="n°_cb" required />
          <br />
          <label class="label" for="date-exp">date d'expiration</label>
          <br />
          <input type="date" id="date-exp" required />
          <br />
          <label class="label" for="cryptogramme">cryptogramme visuel</label>
          <br />
          <input type="int" id="cryptogramme" required />
          <br />
          <label class="label" for="titulaire-carte"
            >titulaire de la carte</label
          >
          <br />
          <input type="text" id="titulaire-carte" required />
        </form>
      </div>
      <app-button
        type="submit"
        name="Je valide mon paiement"
        varient="secondary"
      />
    </div>
  </div>
</section>
