<section>
  <div class="price-line">
    <div class="component-price d-flex justify-content-between">
      <div>
        <p class="text fs-6">
          {{ ticketType().tickets_type }} ( {{ ticketType().price }}€ prix
          unitaire )
        </p>
      </div>
      <div class="d-flex">
        <div class="less fw-bold text-white fs-6" (click)="decrement()">-</div>
        <input class="select-ticket" type="text" [value]="count" />
        <div class="more fw-bold text-white fs-6" (click)="increment()">+</div>
      </div>
    </div>
  </div>
</section>
