section {
  background-color: #f1d6aa;
}

.img {
  margin-top: 2.7%;
}

.title-h1 {
  height: 67.65%;
  width: 40%;
  margin-right: 30%;
  padding-top: 15%;
}

.parag-1 {
  margin-bottom: 5%;
}

.h1 {
  margin-bottom: 5%;
}

.date-expo {
  color: #6e4b13;
  font-size: 32px;
}

.title-expo p {
  color: #6e4b13;
  font-size: 48px;
}

/* Responsive Design */
@media (min-width: 992px) {
  .title-h1 {
    width: 60%;
    padding-top: 12%;
  }
  .parag-1 {
    font-size: 20px;
    margin-bottom: 20%;
  }
  .parag-2 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .title-h1 {
    width: 50%;
  }
}

@media (max-width: 967px) {
  .title-h1 {
    width: 90%;
    padding-top: 5%;
  }
  .parag-1 {
    font-size: 18px;
    margin-bottom: 10%;
  }
  .parag-2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .title-h1 {
    width: 95%;
    padding-top: 3%;
  }
  .parag-1 {
    font-size: 16px;
  }
  .parag-2 {
    font-size: 18px;
  }
}
