section {
  background-color: #f1d6aa;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.title-h1 {
  top: 50%;
  left: 10%; /* Déplace le texte vers la gauche */
  transform: translateY(-50%);
  width: 80%;
  text-align: left; /* Aligne le texte à gauche */
  padding: 10px;
  box-sizing: border-box;
}

.parag-1,
.h1,
.parag-2 {
  margin: 20px 0; /* Espacement uniforme entre les éléments */
  font-size: 2vw;
}

.h1 {
  margin-bottom: 30px; /* Ajoute de l'espace en dessous du titre */
}

.parag-2 {
  margin-top: 30px; /* Ajoute de l'espace au-dessus du deuxième paragraphe */
}

.date-expo {
  color: #6e4b13;
  font-size: 2vw;
}

.title-expo p {
  color: #6e4b13;
  font-size: 3vw;
}

/* DEBUT : A PARTIR D'UNE TAILLE */
@media (min-width: 768px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 1.5vw;
  }
}

@media (min-width: 900px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 1.75vw;
  }
}

@media (min-width: 992px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 2vw;
  }
  .h1 {
    margin-bottom: 40px; /* Augmente l'espace en dessous du titre */
  }
}

@media (min-width: 1200px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 2.25vw;
  }
}

@media (min-width: 1400px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 2.5vw;
  }
}
/* FIN : A PARTIR D'UNE TAILLE */

/* DEBUT : JUSQU'A UNE TAILLE */
@media (max-width: 996px) {
  .title-h1 {
    width: 80%;
  }
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 3vw;
  }
}

@media (max-width: 768px) {
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .img {
    height: 200px; /* Fixe une hauteur minimale pour l'image */
  }
  .parag-1,
  .h1,
  .parag-2 {
    font-size: 5vw;
  }
}
/* FIN : JUSQU'A UNE TAILLE */
