<main>
  <section class="section-acc position-relative">
    <img
      src="images/image-accueil4.png"
      class="img img-fluid"
      alt="accueil-masque-toutenkhamon"
    />
    <div class="title-h1 position-absolute">
      <p class="parag-1 text-white display-6">
        Bonjour et bienvenu : {{ user?.firstname }} {{ user?.lastname }}
      </p>
      <h1
        class="h1 display-1 text-uppercase responsive-title text-white fw-bold"
      >
        city museum
      </h1>
      <p class="parag-2 display-5 text-white">
        vous accueille pour une visite hors du temps.
      </p>
    </div>
  </section>
  <section>
    <div class="details-expo container text-center">
      <p class="date-expo">
        Du {{ startDate }} au {{ endDate }}, venez admirer l'expo temporaire sur
      </p>
    </div>
    <div class="title-expo container text-center">
      <p class="text-uppercase fw-bold">l'égypte ancienne</p>
    </div>
    <app-button name="Réserver" />
  </section>
  <section class="presentation"></section>
</main>
