<main>
  <section class="section-acc d-flex justify-content-center">
    <img
      src="images/image-accueil4.png"
      class="img container img-fluid position-relative"
      alt="accueil-masque-toutenkhamon"
    />
    <div
      class="title-h1 container justify-content-center align-items-center position-absolute"
    >
      <p
        class="parag-1 text-white d-flex justify-content-center text-center display-6"
      >
        Bonjour et bienvenu : Prénom Nom
      </p>
      <h1
        class="h1 display-1 text-uppercase responsive-title text-center text-white d-flex justify-content-center fw-bold"
      >
        city museum
      </h1>
      <p
        class="parag-2 display-5 text-white text-center d-flex justify-content-center"
      >
        vous accueille pour une visite hors du temps.
      </p>
    </div>
  </section>
  <section>
    <div class="details-expo d-flex justify-content-center container">
      <p class="date-expo text-center">
        du ../../.. au ../../.., venez admirer l'expo temporaire sur
      </p>
    </div>
    <div class="title-expo container">
      <p class="text-uppercase fw-bold text-center">l'égypte ancienne</p>
    </div>
    <app-button></app-button>
    <app-cards
      [dataCard]="{ object: 'Sceptre', epoque: '-2030' }"
      [isEven]="false"
    />
    <app-cards
      [dataCard]="{ object: 'Papyrus', epoque: 'Egyptien' }"
      [isEven]="true"
    />
  </section>

  <section class="presentation"></section>
</main>
